@media only screen and (min-width: 35rem) {
    header h1 {
        font-size: 2rem;
    }

    nav {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }

    .hero h1 {
        font-size: 3.5rem;
    }

    .hero {
        min-height: 450px;
        height: 60vh;
    }

}

/* end media query*/
