# APPWRITE CONFIGURATION
APPWRITE_ENDPOINT=https://sfo.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=699e50900027f1754b0f
# Get this from your Appwrite Console > Project settings > API Keys
# Make sure the key has scopes for databases.write, collections.write, attributes.write, buckets.write, etc.
APPWRITE_API_KEY=YOUR_API_KEY_HERE
