@media only screen and (min-width: 32rem) {

header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 1rem;
    background-color: var(--light-gray);
    border-bottom: 1px solid var(--color-dark-gray);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo-div {
    display: flex;
    margin: 0;
    align-items: center;
}

#header-logo {
    margin: 1rem;
    width: auto;
    height: 40px;
}

/*NAVIGATION CSS*/
section#hero h1 {
    font-size: 2.5rem;
}

section#hero button {
    margin: 1rem;
    font-size: 1rem;
    padding: 0.9rem;
    position:absolute;
    z-index: 100;
    border-radius: 8px;
    background-color: black;
    border: none;
    top: 45%;
}

#mobile-header {
    display: none;
}

nav {
    align-content: center;
    align-self: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    font-size: 1.15rem;
}

nav li {
    padding: 1rem;
    background-color: inherit;
}

nav a {
    position: relative;
    text-decoration: none;
    color: inherit;
    padding-bottom: 4px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: var(--color-primary);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

/* Hover animation */
nav a:hover::after {
    transform: scaleX(1);
}

/* Active link state */
nav a#active::after {
    transform: scaleX(1);
}
}

/* end media query*/