@media only screen and (min-width: 35rem) {
    header h1 {
        font-size: 2rem;
    }

    nav {
        border-radius: 0;
        transition: border-radius 0.3s, box-shadow 0.3s;
        position: sticky;
        top: 0.5rem;
        left: 0;
        right: 0;
        z-index: 100;
    }

    nav li,
    nav a {
        border-radius: 0;
    }

    nav.floating {
        border-radius: 1rem;
        box-shadow: 0 8px 32px rgba(255, 166, 0, 0.15);
    }

    nav.floating li,
    nav.floating a {
        border-radius: 1rem;
    }

    /*Hero styles*/

    .hero h1 {
        font-size: 3.5rem;
    }

    .hero {
        min-height: 450px;
        height: 60vh;
    }


    /*About styles*/

    .about h2 {
        font-size: 2rem;
    }

    .about p {
        font-size: 1.2rem;
    }
}

/* end media query*/