@media only screen and (max-width: 34rem) {
    #logo-div {
        display: none;
    }

    header {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }

    nav {
        padding: 0.3rem;
        background-color: rgba(240, 240, 240, 0.85);
        font-family: var(--font-display);
    }

    nav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 0 1rem;
        margin: 0;
    }

    nav li:has(#login-link) {
        display: none;
    }

    nav li {
        min-width: 33.33%;
    }

    nav a {
        text-decoration: none;
        color: inherit;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-primary);
    }

    #login-link {
        visibility: hidden;
        display: none;
    }

    .nav-icon {
        visibility: visible;
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        fill: var(--color-primary);
    }

    footer {
        padding-bottom: 95px;
    }

    nav a#active {
        background-color: var(--color-primary);
        border-radius: 8px;
        color: white;
    }

    nav a#active .nav-icon {
        fill: white;
    }


    .nav-lost {
        order: 1;
    }

    .nav-home {
        order: 2;
    }

    .nav-found {
        order: 3;
    }

    .nav-login {
        order: 4;
    }
}