/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* Content Variables */
    --color-primary: #5C9EAD;
    --color-primary-dark: #326273;

    --color-accent: #E39774;

    --color-background: #FFFFFF;
    --color-surface: #EEEEEE;

    --font-body: "Inter", sans-serif;
    --font-display: "Poppins", sans-serif;

    scroll-behavior: smooth;

}

/*
CSS Guidelines and Rules
- Only vanilla CSS (No Tailwind)
- Use Variables (so we can change things later)
- Comment your code (Nobody wants to search for your declarations)
- Don't Delete CSS (comment out css we might use again)

Note:
We use progressive enhancement, so we will start with a small.css file that contains the basic styles for mobile devices.
As we add more features and styles, we will create medium.css and large.css files for tablets and desktops, respectively.
This way, we can ensure that our website is responsive and looks great on all devices.
*/

body {
    font-size: 16px;
    font-family: "Roboto Flex", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*NAVIGATION CSS*/

nav {}

/*HEADER CSS*/

header {}

/*MAIN CSS*/

main {}

/*FOOTER CSS*/

footer {}

