@media only screen and (max-width: 34rem) {
    #logo-div {
        display: none;
    }

    header {
        position: fixed;
        bottom: 1rem;
        width: 100%;
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }

    nav {
       padding: 0.3rem;
       background-color: rgba(240, 240, 240, 0.85);
    }

    nav ul {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;
    }

    nav li:has(#login-link) {
        display: none;
    }

    nav li {
        padding: 0.3rem;
    }

    nav a {
        text-decoration: none;
        color: inherit;
    }

    #login-link {
        visibility: hidden;
        display: none;
    }
}