/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* Content Variables */
    --color-primary: #5C9EAD;
    --color-primary-dark: #326273;

    --color-accent: #E39774;

    --color-black: #000;
    --color-white: #FFF;

    --dark-gray: #808080;
    --light-gray: #d9d9d9;


    --color-background: #FFFFFF;
}

h1 {
    font-family: var(--font-display);
}

/*HEADER CSS*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 1rem;
    background-color: var(--light-gray);
    border-bottom: 1px solid var(--color-dark-gray);
}

#logo-div {
    display: flex;
    margin: 0;
}

#header-logo {
    margin: 1rem;
    width: 50px;
    height: auto;
}

/*NAVIGATION CSS*/
nav {
    align-content: center;
    align-self: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav li {
    padding: 1rem;
    background-color: inherit;
}



nav a {
    position: relative;
    text-decoration: none;
    color: inherit;
    padding-bottom: 4px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: var(--color-primary);

    transform: scaleX(0);          /* Hidden by default */
    transform-origin: left;        /* Animation starts from left */
    transition: transform 0.3s ease;
}

/* Hover animation */
nav a:hover::after {
    transform: scaleX(1);
}

/* Active link state */
nav a.active::after {
    transform: scaleX(1);
}

/*MAIN CSS*/

main {}

/*FOOTER CSS*/

footer {
    background-color: var(--light-gray);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    border-top: 1px solid var(--dark-gray);
}

